.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}

.carousel-images {    
    display: flex;
    justify-content: flex-start;   
    transition: transform 0.5s ease-in-out;
    width: 100%;  
    height: 100%;
    transition: all 400ms ease;
}

.carousel-image {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    flex: 0 0 auto;

}

.carousel-image video {
    width: 80%;
    padding: 20px;
    height: auto;
    border-radius: 2rem;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    left: 20px;
    color: var(--colorText);
    z-index: 2;
}

.carousel-prev,
.carousel-next { 
    position: absolute;   
    top: 40%;
    transform: translateY(-50%);
    padding: 10px;  
    background-color: transparent;
    font-size: 4em;
    border: none;    
    cursor: pointer;
    color: var(--colorText);
}

.carousel-prev {
    left: 20px;
}

.carousel-next {
    right: 20px;
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 0.5;
}

@media screen and (max-width:460px) {
    .carousel-image video {
        width: 400px;
        height: 380px;
        border-radius: 1rem;

    }

    .project-container {
        width: 100%;
    }

    .carousel-prev,
    .carousel-next { 
        top: 90%;        
        font-size: 2em;
    }
    .carousel-prev {
        left: -30px;
        
    }
    
    .carousel-next {
        right: -30px;
    }

}