.img-form img{
    height: 50%;
    border-radius: 50%;
    border: 5px solid aliceblue;
    margin: 4em;
}
h2{
    text-align: center;
    color: var(--colorText);
    margin: 20px;
    font-size: 30px;
}
.formContainer{
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border: 2px solid aliceblue;
    padding: 40px 25px;
    border-radius: 5px;
    
}
input {
    height: 25px;
}
input, textarea, button{    
    border-radius: 0.5em; 
    border-color: aliceblue;      
}
input, textarea{
    min-width: 350px;
}
textarea{
    min-height: 70px;
    margin-bottom: 15px;
}
input:hover,
textarea:hover {   
    border-color: #007bff;    
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.socials{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .img-form img{
        height: 11rem;
        border-radius: 50%;
        border: 5px solid aliceblue;
        margin: 4em;
    }
    form{
        padding: 35px 15px;
    }
}