* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
img[src='/san-petesburgo.jpg'] {
    height: 50%;
    border-radius: 50%;
    border: 5px solid aliceblue;
    margin: 2em;
}
.home-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.home-title,
.home-subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: var(--colorText);
}

.home-title {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    color: var(--colorText);
    text-shadow: var(--textShadow);
    max-width: 100%;
}

.home-text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: var(--colorText);
    text-justify: newspaper;
    text-align: center;
    text-shadow: var(--textShadow);
}
@media screen and (max-width: 1025px){
    img{
        height: 30%;        
    }
}